@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
* {
  box-sizing: border-box;
}

body {
  background-image: url(/assets/image/pexels-pixabay-356079.jpg);
  font-family: 'Poppins', Sans-Serif;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

#logo h2{
  font-style: normal;
  color: darkgray;
  font-size: 30px;
  font-weight: bolder;
}

#logo h2 span{
  color: brown;
  font-style: italic;
  font-size: 70px;
}

.quiz-container {
  background-color: rgb(242, 242, 243);
  width: 700px;
  overflow: hidden;
  margin-left: 460px;
}

.quiz-header {
  padding: 4rem;
  font-size: 20px;

}
h2 {
  padding: 1rem;
  text-align: center;
  margin: 0;
  font-style: italic;
  text-align: justify;
  font-size: 27px;
}
ul {
  list-style: none;
  padding: 0;
  font-size: 23px;

}

ul li {
  font-style: 1.2rem;
  margin: 1rem 0;
}

ul li label {
  cursor: pointer;
}


#submit{
  margin-left: 650px;
  margin-top: 30px;
  color: white;
  border: none;
  width: 20%;
  cursor: pointer;
  font-size: 1.13rem;
  font-family: inherit;
  padding: 1.6rem;
  border-radius: 35px;
  background-color: brown;
}

#submit:hover{
    background-color: #22df58ba;

}

button:focus{
    outline: none;
    background-color: #1fdc54;
}

